/** CSS STYLE **/
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

html {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1,
.h1 {
  font-size: 72px;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

.h4 {
  font-size: 24px;
}

/* -----------------------------Objects-------------------------------------- */

.card {
  box-sizing: border-box;

  width: 350px;

  padding: 24px;
}

.size {
  width: inherit;
}

.card-num {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.card-link {
  box-sizing: border-box;

  text-decoration: none;
}

.bg-standart::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");

  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 12px 24px 12px 24px;

  font-weight: bold;
  text-decoration: none;
}

.btn-main {
  background-color: #fe8a02;
}

header .btn {
  width: 148px;
  height: 49px;
  margin-top: 40px;
}

.columns-container {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1 1 100px;
}

.section {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 165px;
}

.video {
  position: relative;
  z-index: 2;

  display: block;
  margin: auto;

  border: 0;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-description {
  box-sizing: border-box;
  width: 100%;

  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;

  font-weight: bold;
  font-size: 14px;

  font-family: "Open Sans", sans-serif;
}

.input-email {
  height: 50px;

  margin-top: 9px;

  border: none;
  border-radius: 0;

  color: #757575;

  font-size: 13px;
}

.btn-send {
  position: relative;

  width: 70px;
  height: 50px;

  margin: 0;
  padding: 0;
  border: 0;
}

.btn-reset {
  border: none;
  border-radius: 0;

  cursor: pointer;
}

.btn-send::before {
  position: absolute;

  width: 20px;

  height: 20px;

  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);

  content: '';
}

.rules-ref {
  text-decoration: none;
}

/* -----------------------------Positions-------------------------------------- */

.pos-rel {
  position: relative;
}

.mt-0 {
  margin-top: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-9 {
  margin-bottom: 9px;
}

.pb-0 {
  padding-bottom: 0;
}

.p-0 {
  padding: 0;
}

.p-55 {
  padding: 55px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mt-minus-200 {
  margin-top: -84px;
}

.text-center {
  text-align: center;
}

/* -----------------------------Text-------------------------------------- */

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.fw-normal {
  font-weight: normal;
}

/* -----------------------------Box-model-------------------------------------- */
.d-block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.z-1 {
  z-index: 1;
}

/* -----------------------------Colors-------------------------------------- */

.white-color {
  color: #fff;
}

.white-50-color {
  color: #d7ccc0;
}

.light-color {
  color: #f5f4f0;
}

.bg-light {
  background-color: #f5f4f0;
}

.bg-white {
  background-color: #fff;
}

.main-color {
  color: #fe8a02;
}

.bg-main {
  background-color: #fe8a02;
}

.main-dark-color {
  color: #42413c;
}

.bg-main-dark {
  background-color: #42413c;
}

.dark-color {
  color: #2a2626;
}

.tr-dark-color {
  color: #908d8b;
}

.tr-white-color {
  color: #d7ccc0;
}

.brown-color {
  color: #b09a81;
}

.bg-brown {
  background-color: #b09a81;
}

.blue-color {
  color: #1085c5;
}
