/** CSS STYLE **/
@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

html {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

footer,
main,
header {
  width: 1110px;

  padding-top: 100px;
  padding-bottom: 100px;

  text-align: center;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.white-color {
  color: #fff;
}

.tr-white-color {
  color: #d7ccc0;
}

.light-color {
  color: #f5f4f0;
}

.main-color {
  color: #fe8a02;
}

.main-dark-color {
  color: #42413c;
}

.dark-color {
  color: #2a2626;
}

.tr-dark-color {
  color: #908d8b;
}

.brown-color {
  color: #b09a81;
}

.blue-color {
  color: #1085c5;
}
